html {
  /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  font-size: 62.5%;
}

:root {
  --outer-space: #30313e;
  --bright-turquoise: #2aefcb;
  --gin: #e0eae4;
  --heliotrope: #e866ec;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--outer-space);
  height: 100px;
  align-items: flex-end;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1.75rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  min-height: 100vh;
}

main {
  display: flex;
  flex-wrap: wrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  color: var(--gin);
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-size: 4rem;
  margin-left: 16px;
}

h2 {
  font-size: 3.5rem;
  color: var(--outer-space);
  margin-right: 16px;
}

h3 {
  font-size: 3rem;
  color: var(--outer-space);
  margin-right: 16px;
}

h4 {
  font-size: 2.5rem;
}

.card {
  flex-direction: column;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

nav {
  display: flex;
}

nav a {
  color: var(--gin);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav li {
  flex: 1 1 150px;
}

a {
  font-size: 2.5rem;
}

p,
text {
  font-size: 1.5rem;
}

#main-background-image {
  background-image: url("../assets/images/background-image.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  height: 180px;
  display: flex;
  justify-content: space-between;
  /* justify-content: flex-end; */
  align-items: flex-end;
}

.profile-picture {
  max-width: 200px;
  max-height: 100px;
  margin-left: 100px;
  margin-bottom: 10px;
}

.info-section,
.work-section,
.contact-section {
  display: flex;
  flex-direction: row;
  margin: 48px 48px 0 48px;
  line-height: 1.5;
  width: 100%;
}

.project-links-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50vw;
}

.project-links-section-secondary {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}

.project-image1 {
  /* margin: 24px 36px; */
  margin: 16px 12px;
  width: 425px;
  flex: 4 1 auto;
}

.project-image2,
.project-image3 {
  margin: 16px 12px;
  width: 425px;
  flex: 0 1 300px;
}

.info-heading {
  flex: 0 0 200px;
}

.info-paragraphs {
  flex: 1 0 200px;
}

.contact-paragraph {
  font-size: 2rem;
  justify-self: end;
  flex: 1 0 150px;
}

hr.rounded {
  border: 4px solid #bbb;
  border-radius: 5px;
  margin: 0 16px 0 16px;
  background-color: #bbb;
}

@media screen and (max-width: 768px) {

  main,
  .info-section,
  .work-section,
  .contact-section {
    flex-direction: column;
  }

  header {
    flex-direction: column;
    min-height: 300px;
    align-items: center;
  }

  nav {
    flex-direction: column;
    min-height: 300px;
    justify-content: center;
  }

  p,
  figure,
  text {
    margin: 36px;
  }

  h2,
  text {
    max-height: 48px;
    margin-left: 12px;
  }

  #main-background-image {
    flex-direction: column;
    align-items: center;
  }

  .profile-picture {
    margin-left: 0;
    margin-top: 20px
  }
}